

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

body, #root{
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex: 1;
}